/* Common */
body {
    color: #ffffff;
    text-align: center;
}

h1,
h2,
h3,
h4,
p {
    margin: 0;
    padding: 20px 0;
    text-transform: uppercase;
    font-weight: bold;
}
p {
    font-size: 18px;
    text-transform: none;
}

.inline_b {
    display: inline-block;
}

.dark_blue_bkg {
    background-color: #2c3e50;
}
.acqua_bkg {
    background-color: #1abc9c;
}
.grey_bkg {
    background-color: #ecf0f0;
}

.uppercase {
    text-transform: uppercase;
}

.blue_txt {
    color: #3a546d;
}

.my_btn {
    margin: 20px 0;
    color: #ffffff;
    border-color: #ffffff;
    background-color: #1abc9c;
}
/* --Common */

/* Top bar */
header {
    height: 80px;
    line-height: 80px;
}
header i {
    padding: 5px;
    border: 1px solid #ffffff;
    border-radius: 5px;
    color: #888888;
}
header li:nth-child(2) {
    margin: 0 5px;
}
/* --Top bar */

/* Jumbotron */
.jumbo img {
    height: 260px;
}
.jumbo h3 {
    font-weight: normal;
}
/* --Jumbotron */

/* Portfolio */
.images img {
    width: 100%;
    margin: 15px 0;
    border-radius: 10px;
}
.images i {
    color: #3a546d;
}
/* --Portfolio */

/* Contacts */
.contacts ul {
    list-style: none;
}
.contacts li {
    padding-bottom: 10px;
    border-bottom: 1px solid #3a546d;
}
.contacts li:last-child {
    padding-bottom: 50px;
}
.contacts button {
    margin-left: 38px;
}
/* --Contacts */

/* References */
.references {
    padding-bottom: 20px;
    background-color: #3a546d;
}
.references i {
    margin: 0 5px;
    padding: 10px;
    border: 1px solid #ffffff;
    border-radius: 50%;
}
.references span span {
    color: #22a892;
}
/* --References */

/* Bottom of the page */
footer {
    height: 80px;
    line-height: 80px;
}
/* --Bottom of the page */